.header{
  margin-top: 3%;
  display: flex;
  flex-direction: row;;
  align-items: center;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

.detail{
  margin-bottom: 3%;
}
.detail img{
    border-radius: 5%;
    max-width:30%;

}

.detail h1{
    margin: 1%;
}

.detail h3{
  color: #eb2424;
}

.resume a {
    text-decoration: none;
    color: black;
}

.resume{
    font-size: 18px;
    font-weight:400;
}
.dietType{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-right: 5%;
}

.dietType li{
    
  margin: 5px 0;
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.steps p{
    padding: 0;
    margin: 1%;
    font-size: 18px;
    font-weight:500;
}

.buttonStart {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonStart:hover,
.buttonStart:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.buttonStart:active {
  background: var(--color);
  color: #fff;
}


.dietList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25%;
  list-style-type: none;

}

.dietList li::before{
  content: "✓  ";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  
}


.stepsStart{
  color: #eb2424;
}

.warning{
  margin-top: 20%;
}

.warning p {
  font-size: 30px;
  color: red;
}

.warning button {
  margin-right: 5%;
  color:#eb2424;
  background-color: black;
}


.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #333;
  animation: circle1 1s ease-in-out infinite;
}

.circle1:nth-child(2) {
  animation-delay: 0.2s;
}

.circle1:nth-child(3) {
  animation-delay: 0.4s;
}

.circle1:nth-child(4) {
  animation-delay: 0.6s;
}

.circle1:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}