body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .home{
    padding: 1%;
  }
 

  .header{
    display: flex;
    margin-left: 38%;
  }


  .buttonStart {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #993939;
    margin-left: 90%;
    margin-top: 10%;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonStart:hover,
  .buttonStart:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .buttonStart:active {
    background: var(--color);
    color: #fff;
  }


  .pagination button {
    margin-left: 1%;
  }


  .activePageButton {
    background-color: #221f1f; /* Cambia el color de fondo al que desees */
    color: #ffffff; /* Cambia el color del texto al que desees */
    /* Agrega cualquier otro estilo adicional que desees para resaltar el botón */
  }